<div class="login login-hide">
  <div class="login_header">
    <h3>登录繁书</h3>
    <button class="login_header-icon">
      <i class='iconfont icon-quxiao'></i>
    </button>
  </div>
  <form>
    <div class="login_input"><i class="iconfont icon-yonghu"></i><input placeholder="手机或邮箱" type="text"></div>
    <div class="login_input"><i class="iconfont icon-yidongduanicon-"></i><input placeholder="密码" type="password"></div>
    <button type="button">登录</button>
  </form>
  <div class="login-more-sign">
    <h6>社交帐号直接登录</h6>
    <ul>
      <li><a href="" class="qq"><i class="iconfont icon-qq"></i></a></li>
      <li><a href="" class='weibo'><i class="iconfont icon-weibo"></i></a></li>
      <li><a href="" class='douban'><i class="iconfont icon-douban"></i></a></li>
    </ul>
  </div>
</div>