<div class="detailed-show">
  <div class="detailed-show-top">
    <h1 class="detailed-show-top__title">{{public_title}}</h1>

    <div class="detailed-show-top__mainBody__Title">
      <a href="" class="detailed-show-top__mainBody__Title__a">
        <img src="{{user.avatar}}" alt="" class="detailed-show-top__mainBody__imgOne">
        <div class="detailed-show-top__mainBody__userBox">
          <div class="detailed-show-top__mainBody__user">
            <div class="detailed-show-top__mainBody__userInfo">
              <p class="detailed-show-top__mainBody__userName">{{user.nickname}}</p>
            </div>
            <span class="detailed-show-top__mainBody__userBadge">
              <img src="{{user.badges.image_url}}" alt="" class="detailed-show-top__mainBody__imgTwe">
              繁书作者
            </span>
          </div>
        </div>
      </a>
    </div>


  <div class="detailed-show-center">
    <div class="detailed-show-center__Main">{{{free_content}}}</div>
  </div>


  <div class="detailed-show-bottom">

  </div>
</div>