<!-- 
    <div class="tbook-list">
      {{#each films}}
      <div class="tbook-list__item">
          <div class="tbook-list__item-info">
              <div class="tbook-list__item-title">
                  <h1>{{title}}</h1>
                  <p>{{public_abbr}}</p>
              </div>
              <div class="tbook-list__item">
                <i></i>
                <span>{{total_fp_amount}}}</span>
                <span>{{user.nickname}}</span>
                <span><i></i>{{public_comments_count}}</span>
                <span><i></i>{{likes_count}}</span>
              </div>
          </div>
          <div>
              <img src="" alt="">
          </div>
      </div>
      {{/each}}

  </div> -->