.tbook-top{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  background: #fff;
}
.tbook--top-title{
  width: 9.04rem;
  height: .586667rem;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 700;
  color: #545454;
}
.tbook--top-title_new{
  float: right;
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.75;
}
.tbook--top_tabs{
  width: 9.04rem;
  padding-bottom: 5px;
}
.tag{
  display: inline-block;
  padding: 2px 10px;
  margin: 0 12px 12px 0;
  font-size: 14px;
  position: relative;
  color: #ea6f5a;
  text-decoration: none;    
  background-color: transparent;    
}
.tag::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ea6f5a;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  border-radius: 8px;
}